<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AthletePlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAthlete</display-name>
    <servlet-name>LoginAthlete</servlet-name>
    <servlet-class>athlete.main.LoginAthlete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAthlete</servlet-name>
    <url-pattern>/LoginAthlete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCoach</display-name>
    <servlet-name>LoginCoach</servlet-name>
    <servlet-class>athlete.main.LoginCoach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCoach</servlet-name>
    <url-pattern>/LoginCoach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrganiserLogin</display-name>
    <servlet-name>OrganiserLogin</servlet-name>
    <servlet-class>athlete.main.OrganiserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrganiserLogin</servlet-name>
    <url-pattern>/OrganiserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageSerlvet</display-name>
    <servlet-name>SendMessageSerlvet</servlet-name>
    <servlet-class>athlete.main.SendMessageSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageSerlvet</servlet-name>
    <url-pattern>/SendMessageSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageDietitian</display-name>
    <servlet-name>SendMessageDietitian</servlet-name>
    <servlet-class>athlete.main.SendMessageDietitian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageDietitian</servlet-name>
    <url-pattern>/SendMessageDietitian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoachRegistration</display-name>
    <servlet-name>CoachRegistration</servlet-name>
    <servlet-class>athlete.main.CoachRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachRegistration</servlet-name>
    <url-pattern>/CoachRegistration</url-pattern>
  </servlet-mapping>
</web-app>